# Get predictions
Website: https://projects.fivethirtyeight.com/soccer-predictions/  
Data source (git): https://github.com/fivethirtyeight/data/tree/master/soccer-spi/

Get's predictions of all leagues (my selection) for the matches of today and the next 30 days.

In [1]:
import pandas as pd
from datetime import date, timedelta

# show all columns
pd.options.display.max_columns = 0

In [2]:
# read their entire CSV
df = pd.read_csv('https://projects.fivethirtyeight.com/soccer-api/club/spi_matches.csv', parse_dates=[0])

# transform text fields to lowercase
df.league = df.league.str.lower()
df.team1 = df.team1.str.lower()
df.team2 = df.team2.str.lower()

# show
print(df.shape)
df.head()

(20898, 22)

        date  league_id    ...     adj_score1 adj_score2
0 2016-08-12       1843    ...           0.00       1.05
1 2016-08-12       1843    ...           2.10       2.10
2 2016-08-13       2411    ...           2.10       1.05
3 2016-08-13       2411    ...           0.00       1.05
4 2016-08-13       2411    ...           1.05       1.05

[5 rows x 22 columns]

In [3]:
# use only some leagues
leagues = pd.DataFrame({'league_id': [1849, 1843, 1845, 1854, 1869, 2411]})

# append league names
leagues = leagues.merge(df[['league_id', 'league']], on='league_id', how='left').drop_duplicates().reset_index(drop=True)

# show
leagues

   league_id                    league
0       1849          dutch eredivisie
1       1843            french ligue 1
2       1845         german bundesliga
3       1854             italy serie a
4       1869  spanish primera division
5       2411   barclays premier league

In [4]:
# filter only these leagues
df = df[df.league_id.isin(leagues.league_id)]
print(df.shape)

(6090, 22)

In [5]:
# filter matches from today up to 30 days from now
today = date.today()
delta = timedelta(30)
print(today, ':', today+delta)
df = df[(df.date.dt.date >= today) & (df.date.dt.date <= today+delta)]
print(df.shape)

2018-10-29 : 2018-11-28
(177, 22)

In [6]:
# sort by league_id and date
df = df.sort_values(by=['league_id', 'date'])

In [7]:
# show
df.head()

            date  league_id    ...     adj_score1 adj_score2
15101 2018-11-02       1843    ...            NaN        NaN
15192 2018-11-03       1843    ...            NaN        NaN
15216 2018-11-03       1843    ...            NaN        NaN
15217 2018-11-03       1843    ...            NaN        NaN
15218 2018-11-03       1843    ...            NaN        NaN

[5 rows x 22 columns]

In [8]:
# save to CSV
df.to_csv('./data/This_month_prediction.csv', index=False)